/*import roboto font*/

:root {
  --main-bg-color: hsl(5, 0%, 25%);
  --main-txt-color: hsl(5, 0%, 90%);
  --button-bg-color: hsl(53, 0%, 79%);
  --button-txt-color: hsl(5, 0%, 10%);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  padding: 52px;
}

div {
  border: solid 2px black;
}

button {
  padding: 12px 48px;
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  border-color: var(--button-txt-color);
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  font-weight: bold;
  font-size: 16px;
}