@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --main-bg-color: hsl(0, 62%, 39%);
  --main-bg-lighter: hsl(0, 50%, 50%);
  --main-txt-color: hsl(31, 70%, 90%);
  --button-bg-color: hsl(10, 92%, 75%);
  --button-txt-color: hsl(0, 50%, 20%);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  height: aliceblue96vh;
  display: flex;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  padding: 52px;
}

.clicked {
  transition-timing-function: ease-in-out;
  transition: scale 50ms;
  scale: 0.9;
}

.center {
  width: fit-content;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 48px;
  margin-right: 12px;
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  border-color: var(--button-txt-color);
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  font-size: 18px;
}

button:hover {
  border-color: hsl(0, 50%, 20%);;
  --button-txt-color: hsl(10, 92%, 75%);
  --button-bg-color: hsl(0, 50%, 20%);
  transition: all 80ms;
}

.canvas {
  display: flex;
  width: 920px;
  height: 460px;
  margin-top: 12px;
  margin-bottom: 24px;
  border-radius: 24px;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  flex: 1;
}

.pixel {
  border: solid 1px hsl(30, 30%, 93%);
  background-color: hsl(30, 30%, 96%);
  flex: 1;
}

.grid-info {
  font-size: 22px;
}

button > svg {
  fill: var(--button-txt-color);
  height: 16px;
}

label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  padding: 0 24px;
  border-radius: 12px;
}

label:hover{
  background-color: var(--main-bg-lighter);
}

input {
  width: 20px;
  height: 20px;
}